<% include header.ejs %>
	<main>
		<section class="section section--gallery">
			<div class="container">
				<h1 class="box__title">Gallery</h1>
				<div class="row">
					<div class="gallery" id="gallery-container">
						<% for(var i=0; i<galleries.length; i++) {%>
							<div class="col-thumbnail col-lg-3 col-md-4 col-sm-6">
								<a href="/uploads/<%= galleries[i].image %>" class="thumbnail" data-lightbox="gallery" data-title="<%= galleries[i].description %>">
									<img src="/uploads/<%= galleries[i].image %>" alt="<%= galleries[i].description %>" title="<%= galleries[i].description %>">
								</a>
							</div>
						<% } %>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer class="footer">
		<div class="container">
			&copy; CDC &amp; TRACER STUDY - ITI
		</div>
	</footer>

	<script type="text/x-handlebars-template" id="gallery-template">
		{{#each galleries}}
		<div class="col-thumbnail col-lg-3 col-md-4 col-sm-6">
			<a href="/uploads/{{ image }}" class="thumbnail" data-lightbox="gallery" data-title="{{ description }}">
				<img src="/uploads/{{ image }}" alt="{{ description }}" title="{{ description }}">
			</a>
		</div>
		{{/each}}
	</script>

	<script src="/js/vendor/jquery-1.11.0.min.js"></script>
	<!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script> -->
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/vendor/handlebars-v2.0.0.js"></script>
	<script src="/js/vendor/packery.pkgd.min.js"></script>
	<script src="/js/vendor/lightbox.min.js"></script>
	<script src="/js/gallery.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>

