<% include header.ejs %>
	<main>
		<section class="section section--user">
			<div class="container">
				<div class="box col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
					<div class="user">
						<h2 class="user__name box__subtitle"><%= first_name %> <%= last_name %></h2>
						<div class="user__label">Email :</div>
						<div class="user__email"><%= email %></div>
						<div class="user__label">Jurusan :</div>
						<div class="user__program_name"><%= program_name %></div>
						<div class="user__label">Angkatan :</div>
						<div class="user__class"><%= class_of %></div>
						<div class="user__label">No. Telpon :</div>
						<div class="user__phone"><%= phone %></div>
						<div class="user__label">Alamat :</div>
						<div class="user_address"><%= address %></div>
					</div><!-- User End -->
				</div><!-- Box End -->
			</div>
		</section>
	</main>
	<footer class="footer">
        <div class="container">
            &copy; CDC &amp; TRACER STUDY - ITI
        </div>
    </footer>

    <!-- Scripts -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/vendor/jquery-1.11.0.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
